@import "../variables.scss";

#about {
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5% 0px 5%;

  .about-image {
    flex-basis: 50%;
    margin: 0 auto;

    img {
      width: 400px;
    }
  }

  .about-text {
    flex-basis: 50%;
    color: $white;

    @media (max-width: $large-screen) {
      flex-basis: 100%;
    }

    h1 {
      font-size: 3rem;
      color: $red;
      font-weight: 500;
      margin: 0px;
      padding: 0px;
    }

    p {
      width: 80%;
      margin: 0 auto;
      font-size: 1.2rem;
      line-height: 1.5;
      color: $shade;
    }

    button {
      margin-top: 20px;
      width: 140px;
      height: 45px;
      border-radius: 5px;
      border: none;
      outline: none;
      color: $white;
      background-color: $red;

      &:hover {
        box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
        background-color: #000;
        transition: all ease 0.3s;
        color: $white;
        animation: flash;
        animation-duration: 1s;
      }
    }
  }
}
