@import "../variables.scss";

#about {
  margin: 2rem auto 3rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5% 0px 5%;

  .about-image {
    flex-basis: 50%;
    margin: 0 auto;

    @media (max-width: $large-screen) {
      flex-basis: 100%;
    }

    img {
      width: 100%;
    }
  }

  .about-text {
    flex-basis: 50%;
    color: $white;

    @media (max-width: $large-screen) {
      flex-basis: 100%;
      padding: 2rem 1rem;
    }

    h1 {
      font-size: 2.5rem;
      color: $shade;
      line-height: 1.5;
      font-weight: 500;
      margin: 0px;
      padding: 0px;

      @media (max-width: $large-screen) {
        font-size: 2rem;
        padding-bottom: 0.8rem;
      }
    }

    p {
      width: 80%;
      margin: 0 auto;
      font-size: 1.2rem;
      line-height: 1.5;
      color: $shade;
    }
  }
}
