@import "../variables.scss";

#main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/banner.png");
  position: relative;
  z-index: 0;

  @media (max-width: $medium-screen) {
    background-position: center;
  }

  &::before {
    position: absolute;
    content: "";
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(247, 5, 5, 0.38) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(247, 5, 5, 0.38) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(247, 5, 5, 0.38) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .name {
    text-align: center;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);

    @media (max-width: $medium-screen) {
      width: 350px;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: $extraSmall-screen) {
      width: 300px;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
    }

    h2 {
      font-family: "Montserrat";
      letter-spacing: 2px;
      color: $white;

      @media (max-width: $medium-screen) {
        font-size: 2rem;
      }
    }

    h1 {
      font-family: "Montserrat";
      font-size: 5rem;
      text-align: center;
      letter-spacing: 2px;
      color: $white;

      @media (max-width: $medium-screen) {
        font-size: 3.5rem;
      }
      @media (max-width: $small-screen) {
        font-size: 2.5rem;
      }

      span {
        color: $red;
      }
    }

    .details {
      font-family: "Montserrat";
      font-size: 23px;
      color: $shade;

      @media (max-width: $medium-screen) {
        font-size: 1rem;
      }
    }
  }

  .header-btns {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .header-btn {
      width: 160px;
      height: 50px;
      padding-top: 0.7rem;
      font-size: 1.4rem;
      background-color: $red;
      box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
      border-radius: 5px;
      color: $white;
    }

    .header-btn:hover {
      @include flash;
    }
  }
}
