@import "../variables.scss";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;

  .active {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
    background-color: $black;
  }

  .logo img {
    width: 90px;
  }

  .menu {
    display: flex;

    li {
      a {
        height: 80px;
        line-height: 80px;
        padding: 0px 22px;
        display: flex;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $white;
        letter-spacing: 1px;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $red;
          color: $white;
          box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
          animation: flash;
          animation-duration: 1s;
        }
      }
    }
  }

  .menu-btn,
  .menu-icon {
    display: none;
  }
}

.active {
  background-color: $red;
  color: $white;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;

  &:hover {
    background-color: $black;
    color: $white;
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
    transition: all ease 0.2s;
  }
}
