@import "../variables.scss";

#offer {
  padding-top: 30px;
  width: 100%;
  height: 768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/images/offer.png);

  @media (max-width: $medium-screen) {
    background-position: center;
  }

  .offer-heading {
    text-align: center;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);

    @media (max-width: $medium-screen) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      font-size: 4rem;
      margin: 0px;
      letter-spacing: 2px;
      color: $white;

      @media (max-width: $medium-screen) {
        font-size: 3.5rem;
      }
      @media (max-width: $small-screen) {
        font-size: 2.5rem;
      }

      span {
        color: $red;
      }
    }

    .details {
      font-size: 1.2rem;
      color: $shade;

      @media (max-width: $medium-screen) {
        font-size: 1rem;
      }
    }

    .offer-btns {
      display: flex;
      margin-top: 40px;
      margin-left: 35%;

      .offer-btn {
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        background-color: $red;
        box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
        border-radius: 5px;
        color: $white;

        &:hover {
          background-color: transparent;
          transition: all ease 0.5s;
          color: $white;
          border: 2px solid $red;
          animation: flash;
          animation-duration: 1s;
        }
      }
    }
  }
}
