@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  background-color: $black;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

button {
  margin-top: 2rem;
  width: 140px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;
  color: $white;
  background-color: $red-dark;

  &:hover {
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    background-color: #000;
    transition: all ease 0.3s;
    color: $white;
    animation: flash;
    animation-duration: 1s;
  }
}
