$black: #252525;
$white: #f5f5f5;
$red-dark: #be0404;
$red: #ff1414;
$shade: #bebebe;
$extraSmall-screen: 378px;
$small-screen: 578px;
$medium-screen: 768px;
$large-screen: 990px;
$extraLarge-screen: 1200px;

@mixin flash {
  animation: flash;
  animation-duration: 1s;
}

@mixin pulse {
  animation: pulse;
  animation-duration: 2s;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
